[submodule "kernel/xhci"]
	path = kernel/xhci
	url = https://github.com/paulsohn/xhci
[submodule "kernel/apic"]
	path = kernel/apic
	url = https://github.com/paulsohn/apic.git
[submodule "kernel/pci_types"]
	path = kernel/pci_types
	url = https://github.com/paulsohn/pci_types.git
